<div class="row-fluid">
	<div class="row-fluid"><h4>Topics</h4></div>
	<div class="row-fluid">
		<div class="span3"><h5>{{ _('Topic') }}</h5></div>
		<div class="span3"><h5>{{ _('Rest API') }}</h5></div>
		<div class="span4"><h5>{{ _('REST Parameters') }}</h5></div>
		<div class="span2 btn-group" style="text-align: center;"><button class="btn btn-mini" data-bind="click: addTopic"><i class="icon icon-plus" aria-hidden="true"></i></button></div>
	</div>
	<div class="row-fluid" data-bind="sortable: { data: settingsViewModel.settings.plugins.mqttsubscribe.topics, options: { cancel: '.unsortable', handle: '.move_handle'} }">
		<div class="row-fluid" style="margin-bottom: 5px">
			<div class="span3" style="overflow-x: hidden;" data-bind="text: topic, attr: {title: topic}"></div>
			<div class="span3" style="overflow-x: hidden;" data-bind="text: rest, attr: {title: rest}"></div>
			<div class="span4" style="overflow-x: hidden;" data-bind="text: command, attr: {title: command}"></div>
			<div class="span2 btn-group" style="text-align: center;">
				<button class="btn btn-mini" data-bind="click: $root.showEditor"><i class="icon icon-pencil" aria-hidden="true"></i></button>
				<button class="btn btn-mini" data-bind="click: $root.copyTopic"><i class="icon icon-copy" aria-hidden="true"></i></button>
				<button class="btn btn-mini btn-danger" data-bind="click: $root.removeTopic"><i class="icon icon-trash" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
	<div class="row-fluid"><h4>General</h4></div>
	<div class="row-fluid">
		<div class="span6">
			<div class="input-block-level input-prepend">        
				<span class="add-on">API KEY</span>
				<input type="text" class="input-block-level" data-bind="value: settingsViewModel.settings.plugins.mqttsubscribe.api_key" disabled>
			</div>
		</div>
		<div class="span2 btn-group">
			<button class="btn" data-bind="click: copyKey, enable: settingsViewModel.settings.plugins.mqttsubscribe.api_key() !== ''" title="Copy API Key to clipboard" disabled><i class="icon-copy"></i></button>
			<button class="btn btn-danger" data-bind="click: removeKey, enable: settingsViewModel.settings.plugins.mqttsubscribe.api_key() !== ''" title="Delete API Key" disabled><i class="icon-trash"></i></button>
			<button class="btn btn-primary" data-bind="click: getAppKey, enable: settingsViewModel.settings.plugins.mqttsubscribe.api_key() == '' && !retrieving_key()" title="Register API Key" disabled><i class="icon" data-bind="css: {'icon-spin icon-refresh': retrieving_key(),'icon-plus':!retrieving_key()}"></i></button>
		</div>
	</div>
</div>

<div id="mqttTopicEditor" data-bind="with: selected_topic" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<h3>MQTT Topic Editor</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid" style="margin-bottom: 5px">
			<div class="controls"><label class="control-label">{{ _('Topic') }}</label><input type="text" class="input-block-level" data-bind="value: topic"></div>
			<div class="controls"><label class="control-label">{{ _('JSONPath Extract') }}</label><input type="text" class="input-block-level" data-bind="value: extract"></div>
			<div class="controls"><label class="control-label">{{ _('Type') }}</label><select class="input-block-level" data-bind="value: type"><option value="get">get</option><option value="post">post</option></select></div>
			<div class="controls"><label class="control-label">{{ _('REST API') }}</label><input type="text" class="input-block-level" data-bind="value: rest"></div>
			<div class="controls"><label class="control-label">{{ _('REST Parameters') }}</label><textarea class="input-block-level" rows="5" data-bind="value: command"></textarea></div>
			<div class="controls"><label class="checkbox">{{ _('Disable Pop Up') }}<input type="checkbox" data-bind="checked: disable_popup" title="Don't display the pop-up box on commands received."/></label></div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="row-fluid" style="text-align: center;">
			<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>