<form class="form-horizontal">
	<div class="row-fluid"><h4>Topics</h4></div>
	<div class="row-fluid">
				<div class="span3"><h5>{{ _('Topic') }}</h5></div>
				<div class="span2"><h5>{{ _('Message') }}</h5></div>
				<div class="span2"><h5>{{ _('Label') }}</h5></div>
				<div class="span2"><h5>{{ _('Icon Class') }} <a href="http://fontawesome.io/3.2.1/cheatsheet/" target="_blank" title="Use fontawesome class name" class="btn btn-mini icon icon-question-sign"></a></h5></div>
				<div class="span1"><h5>{{ _('Confirm') }}</h5></div>
				<div class="span2" style="text-align: center;"><h5><a href="#" class="btn btn-mini icon-plus" data-bind="click: addTopic"></a></h5></div>
	</div>
	<div data-bind="foreach: settingsViewModel.settings.plugins.mqttpublish.topics">
		<div class="row-fluid" style="margin-bottom: 5px">
			<div class="span3"><input type="text" class="span12" data-bind="value: topic"></div>
			<div class="span2"><input type="text" class="span12" data-bind="value: publishcommand"></div>
			<div class="span2"><input type="text" class="span12" data-bind="value: label"></div>
			<div class="span2"><input type="text" class="span12" data-bind="value: icon"></div>
			<div class="span1" style="text-align: center;"><input type="checkbox" data-bind="checked: confirm"/></div>
			<div class="span2 btn-group" style="text-align: center;"><a href="#" class="btn btn-mini icon-copy" data-bind="click: $root.copyTopic"></a><a href="#" class="btn btn-mini icon-trash" data-bind="click: $root.removeTopic, visible: $root.settingsViewModel.settings.plugins.mqttpublish.topics().length > 1"></a></div>
		</div>
	</div>	
	<div class="row-fluid"><h4>General</h4></div>
	<div class="control-group">
		<label class="control-label">{{ _('@MQTTPublish GCODE') }}</label>
		<div class="controls">
			<input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.mqttpublish.enableGCODE"/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Publish M117') }}</label>
		<div class="controls">
			<input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.mqttpublish.enableM117"/>
		</div>
	</div>
	<div class="control-group" data-bind="visible: settingsViewModel.settings.plugins.mqttpublish.enableM117">
		<label class="control-label">{{ _('M117 Topic') }}</label>
		<div class="controls">
			<input type="text" class="input-text" data-bind="value: settingsViewModel.settings.plugins.mqttpublish.topicM117"/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Menu Icon') }}</label>
        <div class="controls">
			<input type="text" class="input-text" data-bind="value: settingsViewModel.settings.plugins.mqttpublish.icon">
        </div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Menu Button Grouping') }}</label>
        <div class="controls">
			<input type="number" min="1" class="input-text" data-bind="value: settingsViewModel.settings.plugins.mqttpublish.menugroupat">
        </div>
	</div>
</form>