<form class="form-horizontal">
	<h4>MQTT Publish Settings</h4>
	<div class="row-fluid">
				<div class="span5"><h5>{{ _('Topic') }}</h5></div>
				<div class="span4"><h5>{{ _('Command') }}</h5></div>
				<div class="span2"><h5>{{ _('Icon Class') }}<small><a href="http://fontawesome.io/3.2.1/cheatsheet/" target="_blank" title="Use fontawesome class name">?</a></small></h5></div>
				<div class="span1"><h5><a href="#" class="btn btn-mini icon-plus" data-bind="click: addTopic"></a></h5></div>
	</div>
	<div data-bind="foreach: settingsViewModel.settings.plugins.mqttpublish.topics">
		<div class="row-fluid" style="margin-bottom: 5px">
			<div class="span5"><input type="text" class="span12" data-bind="value: topic"></div>
			<div class="span4"><input type="text" class="span12" data-bind="value: publishcommand"></div>
			<div class="span2"><input type="text" class="span12" data-bind="value: icon"></div>
			<div class="span1"><a href="#" class="btn btn-mini icon-trash" data-bind="click: $root.removeTopic, visible: $root.settingsViewModel.settings.plugins.mqttpublish.topics().length > 1"></a></div>
		</div>
	</div>
</form>